/* Grid styling section */
.grid
{
    margin-bottom: 75px;
}

/* Misc css configs */
.prevent-click 
{
    pointer-events: none;
}

.navlinkinactive
{
    color: grey !important;
}

/* Footer css */
footer
{
    padding: 10px 0px;
    margin-bottom: 1px;
}